@import url('https://fonts.googleapis.com/css2?family=Anton&family=Great+Vibes&display=swap');


:root {
  --bs-body-font-size: 1.5rem;
}
$arrow-width: 40px;
$animation-speed: 0.5s;

// STEP LIST ~~~~~~~~~~~~~~~~~~~~~~~~~~`
.instructions {
  font-size: 18px;
  margin-top: 30px;
  min-height: 130px;
  margin-left: 27px;
  transition: min-height $animation-speed;

  @media (max-width: 576px) { 
    
  }

  @media (min-width: 576px) { 
    min-height: 70px;
  }

    
  .app[step="6"] & {
    min-height: 0;
    transition: min-height 1s;
  }

  

    // TYPOGRAPHY ~~~~~~~~~~~~~~~~~~~~~~
  .normal {
    color: #487800;
  }

  .never {
    color: #c5000e;
  }
}



// GRID ~~~~~~~~~~~~~~~~~~~~~~
.sentence__i { grid-area: 1 / 1 / 2 / 2; }
.sentence__verb-1 { grid-area: 1 / 2 / 2 / 3; }
.sentence__and { grid-area: 2 / 1 / 3 / 2; }
.sentence__verb-2 { grid-area: 2 / 2 / 3 / 3; }

.app[step="1"], 
.app[step="2"], 
.app[step="3"] {
  .sentence__arrow { grid-area: 1 / 3 / 3 / 4; }
  .sentence__object-1 { grid-area: 1 / 4 / 2 / 5; }
  .sentence__object-2 { grid-area: 2 / 4 / 3 / 5; }
}

.app[step="4"], 
.app[step="5"], 
.app[step="6"] {
  .sentence__arrow { display: none; }
  .sentence__object-1 { grid-area: 1 / 3 / 2 / 4; }
  .sentence__object-2 { grid-area: 2 / 3 / 3 / 4; }
}



// SENTENCE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.app[step="5"]  {
  .sentence__object-1,
  .sentence__object-2  {
    transition: margin-top $animation-speed;
  }

  .sentence__object-1 {
    margin-top: calc(var(--ot-row-height) + var(--ot-row-padding));
  }
  .sentence__object-2 {
    margin-top: calc( -1* (var(--ot-row-height) + var(--ot-row-padding)));
  }
}


.sentence {
  --ot-row-height: 60px;
  --ot-row-padding: 20px;
  --ot-input-line-height: var(--ot-row-height);
  --ot-input-border-width: 1px;
  &.has-two-lines {
    --ot-row-height: 86px;
  }
  
  display: grid;
  grid-template-columns: $arrow-width 1fr $arrow-width 1fr;
  .app[step="4"] &, .app[step="5"] &, .app[step="6"] & {
    grid-template-columns: $arrow-width 1fr 1fr;
  }
  grid-auto-rows: 1fr;
  grid-auto-rows: var(--ot-row-height);
  grid-gap:  var(--ot-row-padding);
  padding: 2px;
  width: 100%;
  margin-left: 0;
  transition: margin $animation-speed;
  .app[step="1"] & {
    margin-left: calc(-40px + -50%);
  }

  margin-top: 0;
  // transition: margin-top $animation-speed;
  .app[step="6"] & {
    margin-top: -300px;
    // transition: margin-top 1s;
  }

  
  > div {
    display: flex;
    padding: var(--ot-row-padding);
    align-items: center;
  }

  &__prefix {
    justify-content: flex-end;
    overflow: hidden !important;
    .sentence & {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__input {
    border-color: #ced4da ;
    border-radius: 4px;
    overflow: hidden;
    padding: 0 15px;
    height: var(--ot-row-height);
    line-height: calc(var(--ot-input-line-height) - 1px);

    &--two-lines {
      &:not(.test-as-one-line) {
        line-height: 1.3;
        padding-top: 10px;
        padding-bottom: 10px;
        overflow-y: auto;
      }
    }

  }

  &__object {
    width: 100%;
    transition: margin-top $animation-speed, width $animation-speed;
    .app[step="1"] & {
      width: 200%;
    }
  }
  
  &__arrow {
      position: relative;
      overflow: hidden;
      display: flex;
      margin-top: 0;
      opacity: 1;
      transition: margin-top $animation-speed, width $animation-speed;

      .app[step="1"] &, .app[step="4"] & {
        transition: opacity 0s !important;
        width: $arrow-width;
      }
      
      .app[step="2"] & {
        transition-delay: 0.4s !important;
        transition-property: opacity;
      }
      
      &-item {
        position: absolute;
        right: 0;
        height: 54px;
        margin: 0;

        .app[step="3"] & {
          transform: scaley(-1);
        }
      }
    }
}

// BUTTONS ~~~~~~~~~~~~~~~~~~~~~~
.buttons {
  margin-left: 30px;
  transition: margin-left $animation-speed; 
  .app[step="2"] &,
  .app[step="3"] &,
  .app[step="4"] &,
  .app[step="5"] & {
    margin-left: 63px;
  }


}


// FINISHED SENTENCE ~~~~~~~~~~~~~~~~~~~~~~

.finished-sentence {
  height: 1px;
  opacity: 0;
  height: auto;
  max-width: 1200px;
  padding-left: 29px;

  &--reverse {
    color: #fff;
  }

  &__banner {
    padding: 1.8rem 2.7rem 1.2rem;
    opacity:0;
    transition-delay: 0.75s !important;
    transition: opacity 2.5s;
    // background-color: #e83e8c;

  }

  &__text {
    font-size: 100px;
    font-family: 'Anton', sans-serif;
    &-helper {
      font-family: 'Great Vibes', cursive;
      font-size: 48px;
      opacity: 0.7;
    }
  }
}

.app[step="6"] .finished-sentence {
  height: auto;
}
.app[step="6"] .finished-sentence,
.app[step="6"] .finished-sentence__banner {
  opacity: 1;
}

.color-picker {

  &__foreground {
    padding: 12px 14px 9px 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px; 
    border-radius: 4px; 
    display: flex;
    justify-content: center;
    font-size: 26px;
  
    &:hover {
      cursor: pointer;
    }
  
    .finished-sentence--reverse & {
      background-color: #eee;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px; 
      text-shadow:
      -1px -1px 1px rgba(0,0,0,0.5),  
       1px -1px 1px rgba(0,0,0,0.5),
       -1px 1px 1px rgba(0,0,0,0.5),
        1px 1px 1px rgba(0,0,0,0.5);
    }
  }

  // Override Color Picker
  .twitter-picker  {
    // On mobile keep it to two lines
    @media (max-width: 576px) { 
      span:nth-child(even) {
        display: none;
      }
    }
    // Hide the hex input 
    span + div,
    #rc-editable-input-1 {
      display: none !important;
    }
  }
}


.share-content {
  img {
    width: 100%;
    max-width: 800px;
  }
}




/* VISIBILITY */

.step-1,
.step-2,
.step-3,
.step-4,
.step-5,
.step-6,
.app[step="1"] .step-2-up,
.app[step="1"] .step-3-up,
.app[step="1"] .step-4-up,
.app[step="1"] .step-5-up,
.app[step="2"] .step-3-up,
.app[step="2"] .step-4-up,
.app[step="2"] .step-5-up,
.app[step="3"] .step-4-up,
.app[step="3"] .step-5-up,
.app[step="4"] .step-5-up,
.app[step="6"] .step-6-hidden,
.app[step="1"] .step-1-flex,
.app[step="2"] .step-2-flex,
.app[step="3"] .step-3-flex,
.app[step="4"] .step-4-flex,
.app[step="4"] .step-4-flex,
.app[step="5"] .step-5-flex,
.app[step="6"] .step-6-flex  {
  display: none;
}


.app[step="1"] .step-3-up-vh,
.app[step="2"] .step-3-up-vh,
.app[step="1"] .step-4-up-vh,
.app[step="2"] .step-4-up-vh,
.app[step="3"] .step-4-up-vh,
.app[step="1"] .step-5-up-vh,
.app[step="2"] .step-5-up-vh,
.app[step="3"] .step-5-up-vh,
.app[step="4"] .step-5-up-vh,
.app[step="1"] .step-6-up-vh,
.app[step="2"] .step-6-up-vh,
.app[step="3"] .step-6-up-vh,
.app[step="4"] .step-6-up-vh,
.app[step="5"] .step-6-up-vh {
  visibility: hidden;
}

.step-1-vh,
.step-2-vh,
.step-3-vh,
.step-4-vh,
.step-5-vh,
.step-6-vh {
  visibility: hidden;
  .instructions & {
    
    position: absolute;
    top: -999em;
  }
}

.app[step="1"] .step-1-vh,
.app[step="2"] .step-2-vh,
.app[step="3"] .step-3-vh,
.app[step="4"] .step-4-vh,
.app[step="5"] .step-5-vh,
.app[step="6"] .step-6-vh {
  visibility: visible;
}

.app[step="1"] .instructions .step-1-vh,
.app[step="2"] .instructions .step-2-vh,
.app[step="3"] .instructions .step-3-vh,
.app[step="4"] .instructions .step-4-vh,
.app[step="5"] .instructions .step-5-vh,
.app[step="6"] .instructions .step-6-vh {
  position: inherit;
}
.step-1-opacity,
.step-2-opacity,
.step-3-opacity,
.step-4-opacity,
.step-5-opacity,
.step-6-opacity,
.step-1-up-opacity,
.step-2-up-opacity,
.step-3-up-opacity,
.step-4-up-opacity,
.step-5-up-opacity,
.step-6-up-opacity {
  opacity: 0;
  transition: opacity 1s;
}

.app[step="2"] .step-2-opacity,
.app[step="3"] .step-3-opacity,

.app[step="2"] .step-2-up-opacity,
.app[step="3"] .step-2-up-opacity,
.app[step="4"] .step-2-up-opacity,
.app[step="5"] .step-2-up-opacity,
.app[step="6"] .step-2-up-opacity,

.app[step="3"] .step-3-up-opacity,
.app[step="4"] .step-3-up-opacity,
.app[step="5"] .step-3-up-opacity,
.app[step="6"] .step-3-up-opacity,

.app[step="4"] .step-4-up-opacity,
.app[step="5"] .step-4-up-opacity,
.app[step="6"] .step-4-up-opacity,

.app[step="5"] .step-5-up-opacity,
.app[step="6"] .step-5-up-opacity {
  opacity: 1;
  transition: opacity 1s;
}

// .step-2-opacity,
// .step-3-opacity,
// .app[step="1"] .step-3-up-opacity,
// .app[step="2"] .step-3-up-opacity,
// .app[step="1"] .step-4-up-opacity,
// .app[step="2"] .step-4-up-opacity,
// .app[step="3"] .step-4-up-opacity,
// .app[step="1"] .step-5-up-opacity,
// .app[step="2"] .step-5-up-opacity,
// .app[step="3"] .step-5-up-opacity,
// .app[step="4"] .step-5-up-opacity,
// .app[step="1"] .step-6-up-opacity,
// .app[step="2"] .step-6-up-opacity,
// .app[step="3"] .step-6-up-opacity,
// .app[step="4"] .step-6-up-opacity,
// .app[step="5"] .step-6-up-opacity {
//   opacity: 0;
//   transition: opacity 0.5s;
// }

.app[step="1"] li.step-1,
.app[step="2"] li.step-2,
.app[step="3"] li.step-3,
.app[step="4"] li.step-4,
.app[step="5"] li.step-5,
.app[step="6"] li.step-6 {
  display: list-item;
}

.app[step="1"] td.step-1,
.app[step="2"] td.step-2,
.app[step="3"] td.step-3,
.app[step="4"] td.step-4,
.app[step="5"] td.step-5,
.app[step="6"] td.step-6 {
  display: table-cell;
}

.app[step="1"] :not(li):not(td).step-1,
.app[step="2"] :not(li):not(td).step-2,
.app[step="3"] :not(li):not(td).step-3,
.app[step="4"] :not(li):not(td).step-4,
.app[step="4"] :not(li):not(td).step-4,
.app[step="5"] :not(li):not(td).step-5,
.app[step="6"] :not(li):not(td).step-6 {
  display: inline-block;
}


.app[step="1"] .step-1-flex,
.app[step="2"] .step-2-flex,
.app[step="3"] .step-3-flex,
.app[step="4"] .step-4-flex,
.app[step="4"] .step-4-flex,
.app[step="5"] .step-5-flex,
.app[step="6"] .step-6-flex {
  display: flex;
}

